.__range {
    margin: 30px 0 20px 0;
    -webkit-appearance: none;
    background-color: #f5f6f8;
    height: 20px;
    width: 100%;
    margin: 10px auto;
  }

  .__range:focus {
    outline: none;
  }

  .__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    /* background: red; */
    /* border-radius: 50%; */
    cursor: -moz-grab;
    cursor: -webkit-grab;
    /* 
    height: 50px;
    width: 50px;
    border-radius: 3px; */
    background-color: transparent;
    background: url(https://i.stack.imgur.com/QneFV.png) center center no-repeat;
    /* cursor: pointer;
    -webkit-appearance: none;
    margin-top: -23px; */
  }